*
!.gitignore

!forge
!forge/**
!forge/**/*.py

!repl
!repl/**
!repl/**.py

!slurm/
!slurm/**
slurm/**/*.out
slurm/**/*.slurm

!dumps
!dumps/**
!dumps/**.{json,jsonl}

!README.md
!pyproject.toml
!uv.lock
!.python-version

**__pycache__
